<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">联系我们</a></li>
    </ul>
</div>

<div  style="width: 87%;border: 0px solid red;float: right;">


    <div id="usual1" class="usual">

        <div class="itab">
            <ul>
                <li><a href="#tab1" class="selected">联系信息</a></li>
            </ul>
        </div>

        <div id="tab1" class="tabson">

            <form action="__CONTROLLER__/addlxwm" method="post">
            <ul class="forminfo">
                <foreach name="lxwm" item="v">
                <li><label style="width: 300px;">{$v.title}</label><input name="" type="text" class="dfinput" value="{$v.content}" disabled  style="width:518px;"/><a style="margin-left: 30px;color:blue;" href="__CONTROLLER__/dellxwm?id={$v.id}">删除</a></li>
                </foreach>
                <br><br>
                <li><label style="width: 300px;">添加名称(例如地址、部门电话等):</label><input name="title"  class="dfinput" type="text" style="width:518px;" required/>
                    <br/><br/><br/>
                    <label style="width: 300px;">添加的内容:</label><input name="content" type="text" style="width:518px;" class="dfinput" required/></li>
                <li><br/><br/><input name="" type="submit" class="btn" value="添加" style="margin-left: 680px"/></li>
            </ul>
            </form>

        </div>


    </div>

    <script type="text/javascript">
        $("#usual1 ul").idTabs();
    </script>

    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>





</div>

