<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="__CONTROLLER__/index">首页</a></li>
        <li><a href="__CONTROLLER__/xhld">学会领导</a></li>
    </ul>
</div>

<div   style="width: 87%;border: 0px solid red;float: right;">


    <div id="usual1" class="usual">

        <div class="itab">
            <ul>
                <li><a href="#tab1" class="selected">领导信息</a></li>
                <li><a href="#tab2">增加信息</a></li>
            </ul>
        </div>
        <div id="tab1" class="tabson">

            <table class="imgtable">

                <thead>
                <tr>
                    <th width="100px;">照片</th>
                    <th>姓名</th>
                    <th>简介</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>
                <volist name="xhld" id="vo">
                <tr>
                    <td class="imgtd"><img style="width:80px;height:100px;" src="__PUBLIC__/images/{$vo.img}" alt="照片"></td>
                    <td>{$vo.name}</td>
                    <td>{$vo.produce}</td>
                    <td><a href="__CONTROLLER__/delxhld?id={$vo.id}" class="tablelink"> 删除</a></td>
                </tr>
                </volist>
                </tbody>
            </table>




        </div>

        <div id="tab2" class="tabson">
            <form action="__CONTROLLER__/addxhld" method="post" enctype="multipart/form-data">
            <ul class="forminfo">
                <li><label>姓名</label><input name="name" required type="text" class="dfinput"   style="width:518px;"/></li>
                <li><label>上传图片</label><input type="file" name="pic" /></li>
                <li><label>简介</label><input name="produce" required type="text" class="dfinput"   style="width:518px;"/></li>
                <li><label>&nbsp;</label><input name="" required type="submit" class="btn" value="提交"/></li>
            </ul>
            </form>
        </div>

    </div>

    <script type="text/javascript">
        $("#usual1 ul").idTabs();
    </script>

    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>





</div>

