<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="__CONTROLLER__/index">首页</a></li>
        <li><a href="__CONTROLLER__/xsqk">学术期刊</a></li>
    </ul>
</div>
<div   style="width: 87%;border: 0px solid red;float: right;">


    <div id="usual1" class="usual">

        <div class="itab">
            <ul>
                <li><a href="#tab1" class="selected">更改信息</a></li>
            </ul>
        </div>

        <div id="tab1" class="tabson">

            <form action="__CONTROLLER__/alterxsqk" method="post">
                <ul class="forminfo">


                    <li><label>修改内容</label>

                        <textarea required name="content" style="width:700px;height:250px;padding: 10px;font-size: 16px;line-height: 20px;border: solid 1px deepskyblue">《重庆高校研究》简介，显示内容，可直接修改，显示内容，可直接修改</textarea>

                    </li>
                    <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="提交"/></li>
                </ul>
            </form>

        </div>



    </div>
</div>

