
<div class="page_bg" style="background: url(__PUBLIC__/images/5780c309432c5.jpg) center top no-repeat;"></div>
<!-- main -->
<div class="section" style="background-color:#f2f2f2; ">
<div class="container" style="height:500px; background-color:#fff; ">
    <div class="row"><!-- right -->
        <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">
            <div class="list_box">
                <h2 class="left_h2">各期目录</h2>
                <ul class="list_news">
                    <foreach name="xhqkml" item="v">
                         <li><a href="__CONTROLLER__/gqmlcont?id={$v.id}">{$v.lanmu}</a><span class="news_time">{$v.time}</span></li>
                    </foreach>
                </ul>
                <div class="page"> </div>
            </div>
        </div>
        <!-- left -->
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="left_nav" id="categories">
                <h2 class="left_h2">学会期刊</h2>
                <ul class="left_nav_ul" id="firstpane">
                    <li><a class="biglink" href="__CONTROLLER__/yjjj.html">《重庆高校研究》简介</a><span class="menu_head"></span>

                    </li>
                    <li><a class="biglink" href="__CONTROLLER__/gqml.html">各期目录</a><span class="menu_head"></span>
                        <ul class="left_snav_ul menu_body">
                        </ul>
                    </li>

                </ul>
            </div>


        </div>

        <!-- <div class="col-xs-12 col-sm-4 col-md-3">
             <div class="left_nav" id="categories">
                 <h2 class="left_h2">联系我们</h2>
                 <p>&nbsp;
                     <a href="#">
                   <span class="glyphicon glyphicon-earphone">

                   </span>
                     </a>
                     13933336666
                 </p>
                 <p>&nbsp;
                     <a href="">
                 <span class="glyphicon glyphicon-envelope"></span>
                     </a>
                     1433781574@qq.com
                 </p>
                 <p>
                     &nbsp;
                     <a href="#">
                     <span class="glyphicon glyphicon-home"></span>
                     </a>
                     重庆大学城
                 </p>
             </div>


         </div>
         -->









    </div>
</div>
</div>