
<div class="page_bg" style="background: url(__PUBLIC__/images/5780c309432c5.jpg) center top no-repeat;"></div>
<!-- main -->
<div class="section" style="background-color:#f2f2f2; ">
<div class="container" style="min-height:520px;background-color: #fff;">
    <div class="row"><!-- right -->
        <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">
            <div class="list_box">
                <h2 class="left_h2">各期目录</h2>
                <div class="list_news">
                    <p style="text-indent: 2em;">{$xhqkmlcont[0][content]}</p>
                </div>
                <div class="page"> </div>
            </div>
        </div>
        <!-- left -->
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="left_nav" id="categories">
                <h2 class="left_h2">学术期刊</h2>
                <ul class="left_nav_ul" id="firstpane">
                    <li><a class="biglink" href="yjjj.html">《重庆高校研究》简介</a><span class="menu_head"></span>

                    </li>
                    <li><a class="biglink" href="gqml.html">各期目录</a><span class="menu_head"></span>
                        <ul class="left_snav_ul menu_body">
                        </ul>
                    </li>

                </ul>
            </div>


        </div>

    </div>
</div>
</div>