
<div class="page_bg" style="background: url(__PUBLIC__/images/5780c309432c5.jpg) center top no-repeat;"></div>
<!-- main -->
<div class="container" style="min-height: 500px;">
    <div class="row"><!-- right -->
        <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">
            <div class="list_box">
                <h2 class="left_h2">高校视点</h2>
                <div class="list_news" style="text-indent: 32px;">
                    <!--<img src="__PUBLIC__/images/{$gxsdcont[0][img]}" alt="" width="150" height="auto"-->
                    <img src="__PUBLIC__/images/5902042f446c3.jpg" alt="" width="180" height="auto"
                         style="float: left;margin-bottom: 10px;margin-right: 10px;">
                  {$gxsdcont[0][content]}
                    <br><br><br><br><br>
                    <div style="float: right;">{$gxsdcont[0][time]}</div>
                </div>
            </div>



        </div>
        <!-- left -->
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="left_nav" id="categories">
                <h2 class="left_h2">高校信息</h2>
                <ul class="left_nav_ul" id="firstpane">
                    <li><a class="biglink" href="gxsd.html">高校视点</a><span class="menu_head"></span>

                    </li>

                </ul>
            </div>


        </div>








    </div>
</div>
