
<div class="page_bg" style="background: url(__PUBLIC__/images/5780c309432c5.jpg) center top no-repeat;"></div>
<!-- main -->
<div class="container">
    <div class="row"><!-- right -->
        <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">
            <div class="list_box">
                <h2 class="left_h2">高校视点</h2>
                <ul class="list_news">
                    <li><a href="">高校视点栏目</a><span class="news_time">2013-05-06</span></li>
                    <li><a href="">高校视点栏目</a><span class="news_time">2013-05-06</span></li>
                    <li><a href="">高校视点栏目</a><span class="news_time">2013-12-19</span></li>
                </ul>
                    <div class="page"> </div>
            </div>
        </div>
        <!-- left -->
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="left_nav" id="categories">
                <h2 class="left_h2">高校信息</h2>
                <ul class="left_nav_ul" id="firstpane">
                    <li><a class="biglink" href="">高校视点</a><span class="menu_head"></span>

                    </li>
                    <li><a class="biglink" href="">信息参考</a><span class="menu_head"></span>
                        <ul class="left_snav_ul menu_body">
                        </ul>
                    </li>


                </ul>
            </div>


        </div>

        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="left_nav" id="categories">
                <h2 class="left_h2">联系我们</h2>
                <p>&nbsp;
                    <a href="#">
                  <span class="glyphicon glyphicon-earphone">

                  </span>
                    </a>
                    13933336666
                </p>
                <p>&nbsp;
                    <a href="">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                    1433781574@qq.com
                </p>
                <p>
                    &nbsp;
                    <a href="#">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                    重庆大学城
                </p>
            </div>


        </div>




    </div>
</div>

<footer>
    <div class="copyright">
        <p>CopyRight 2013 All Right Reserved 蓝科外贸网站&nbsp;ICP:08118166<a href="/A06/sitemap.html" target="_blank">网站地图</a></p>
        <p class="copyright_p">地址：广东省广州市天河区天平架沙太路沙太路沙太路118号 &nbsp;电话：020-87961814 &nbsp;传真：020-98-87961814&nbsp;</p>
    </div>
</footer>

<script type="text/javascript" src="js/online.js"></script>
</body>
</html>

<div class="hidden-xs" id="popWin" style="width:300px;height:0px;position:absolute;right:1px;bottom:1px;border:1px solid #0066FF;display:none;background:#FFFFFF;padding:1px;z-index:99999;">
    <div style="background-color:#0066FF;color:#FFFFFF;padding:5px"><b>官方公告</b><span style="color:#FFFFFF;cursor:hand;position:absolute;right:10px;" onclick="hid()">×关闭</span></div>
    <div style="padding:5px;color:red;font-weight:bold;font-size:14px;line-height:24px;">近段时间发现淘宝上，很多不法份子盗版我们的网站系统，盗版网站存在严重漏洞，请客户们谨防上当受骗。现将这些盗版店铺的旺旺名称公布如下：[yingchai168]、[古源信息技术]、[掌中千牛]、[麦芒网络科技]、[开心小煜煜哦]、[zbc199300]</div>
</div>
