<div class="section" style="background-color: #f2f2f2;">
<div class="container" style="height:800px; background-color: #fff;">
    <div class="row"><!-- right -->
        <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">
            <div class="list_box">
                <h2 class="left_h2">学会通知</h2>
                <p style="text-align: center">{$xhtz[0][title]}</p>
                &nbsp;&nbsp;&nbsp;&nbsp;{$xhtz[0][content]}<br/><br/><br/>
                <div style="float: right">{$xhtz[0][time]}</div>
                <div class="page"> </div>
            </div>
        </div>
        <!-- left -->
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="left_nav" id="categories">
                <h2 class="left_h2">文件通知</h2>
                <ul class="left_nav_ul" id="firstpane">
                    <li><a class="biglink" href="xhtz.html">学会通知</a><span class="menu_head"></span>

                    </li>
                    <li><a class="biglink" href="wjxz.html">文件下载</a><span class="menu_head"></span>
                        <ul class="left_snav_ul menu_body">
                        </ul>
                    </li>

                </ul>
            </div>


        </div>
    </div>
</div>
</div>