
<div class="page_bg" style="background: url(__PUBLIC__/images/5780c309432c5.jpg) center top no-repeat;"></div>
<!-- main -->
<div class="section" style="background-color:#f2f2f2;">
<div class="container" style="height:500px;background-color:#fff; ">
    <div class="row"><!-- right -->
        <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">
            <div class="list_box">
                <h2 class="left_h2">学会资讯</h2>
                <img style="float: left;width: 180px; height: auto;margin: 0px 10px 10px;" src="__PUBLIC__/images/{$xhzxcont[0][img]}"/>

                <p style="text-indent: 2em;">{$xhzxcont[0][content]}
                hh嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿
                嘿嘿嘿嘿嘿嘿哈哈哈哈哈哈哈哈哈哈好嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿
                嘿嘿嘿嘿嘿嘿哈哈哈哈哈哈呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵嘿
                嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿哈哈哈哈哈哈呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                呵呵嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿呵呵嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿哈哈哈哈哈哈呵呵呵
                呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿
                嘿嘿嘿嘿嘿嘿嘿呵呵嘿嘿嘿嘿嘿嘿嘿嘿嘿
                    嘿嘿嘿嘿嘿嘿哈哈哈哈哈哈哈哈哈哈好嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿
                    嘿嘿嘿嘿嘿嘿哈哈哈哈哈哈呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵嘿
                    嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿哈哈哈哈哈哈呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                    呵呵嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿呵呵嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿哈哈哈哈哈哈呵呵呵
                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿
                    嘿嘿嘿嘿嘿嘿嘿呵呵嘿嘿嘿嘿嘿嘿嘿嘿嘿
                    嘿嘿嘿嘿嘿嘿哈哈哈哈哈哈哈哈哈哈好嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿
                    嘿嘿嘿嘿嘿嘿哈哈哈哈哈哈呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵嘿
                    嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿哈哈哈哈哈哈呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
                    呵呵嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿呵呵嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿哈哈哈哈哈哈呵呵呵
                    呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿
                    嘿嘿嘿嘿嘿嘿嘿呵呵嘿嘿嘿嘿嘿嘿嘿嘿嘿
                嘿嘿嘿嘿嘿嘿嘿嘿哈哈哈哈哈哈呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿嘿</p>
                    <div class="page"> </div>
            </div>

        </div>
        <!-- left -->
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="left_nav" id="categories">
                <h2 class="left_h2">学会动态</h2>
                <ul class="left_nav_ul" id="firstpane">
                    <li><a class="biglink" href="xhzx.html">学会资讯</a><span class="menu_head"></span>

                    </li>

                </ul>
            </div>

        </div>





    </div>
</div>

</div>