
<div class="page_bg" style="background: url(__PUBLIC__/images/5780c309432c5.jpg) center top no-repeat;"></div>
<!-- main -->
<div class="section" style="background-color:#f2f2f2; ">
<div class="container" style="height:500px;background-color:#fff;">
    <div class="row"><!-- right -->
        <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">
            <div class="list_box">
                <h2 class="left_h2">学会资讯</h2>
                <ul class="list_news">
                    <foreach name="xhzx" item="v">
                        <li><a href="xhzxcont.html?id={$v.id}">{$v.lanmu}</a><span class="news_time">{$v.time}</span></li>
                    </foreach>
                </ul>
                <div class="page"> </div>
            </div>
        </div>
        <!-- left -->
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="left_nav" id="categories">
                <h2 class="left_h2">学会动态</h2>
                <ul class="left_nav_ul" id="firstpane">
                    <li><a class="biglink" href="">学会资讯</a><span class="menu_head"></span>

                    </li>

                </ul>
            </div>


        </div>
    </div>
</div>
</div>