
<div class="page_bg" style="background: url(__PUBLIC__/images/5780c309432c5.jpg) center top no-repeat;"></div>
<!-- main -->
<div class="section" style="background-color:#f2f2f2; ">
<div class="container" style="background-color:#fff;height:500px; ">
    <div class="row"><!-- right -->
        <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">
            <div class="list_box">
                <h2 class="left_h2">政策法规</h2>
                <ul class="list_news">

                    <!--<li><a href="">公司全面实施国际质量管理和质量保证体系</a><span class="news_time">2013-05-06</span></li>-->
                    <volist name="info" id="vo">
                        <li><a href="zcfgcont.html?id={$vo.id}">{$vo.title}</a><span class="news_time">{$vo.date}</span></li>
                        <!--<li><a href="zcfgcont?id={$vo.id}">{$vo.title}</a><span class="news_time">{$vo.date}</span></li>-->
                    </volist>
                </ul>
                <div class="page"> </div>
            </div>
        </div>
        <!-- left -->
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="left_nav" id="categories">
                <h2 class="left_h2">政策法规</h2>
                <ul class="left_nav_ul" id="firstpane">
                    <li><a class="biglink" href="">政策法规</a><span class="menu_head"></span>

                    </li>

                </ul>
            </div>


        </div>
    </div>
</div>
</div>