


<div class="page_bg" style="background: url(__PUBLIC__/images/5780c309432c5.jpg) center top no-repeat;"></div>
<!-- main -->
<div class="section" style="background-color: #f2f2f2;">
<div class="container " style="background-color:#fff;min-height: 500px;">
    <div class="row"><!-- right -->
        <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">
            <ul class="list_box">
                <h3 class="left_h2">政策法规</h3>
                <div class="list_news">
                    <h2><center>{$info[0][title]}</center></h2>
                    <p style="text-indent: 32px;">
                        {$info[0][content]}
                        <br><br><br><br><br><div style="float: right;">{$info[0][date]}</div>
                    </p>
                </div>




            </ul>



        </div>
        <!-- left -->
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="left_nav" id="categories">
                <h2 class="left_h2">关于电商</h2>
                <ul class="left_nav_ul" id="firstpane">
                    <li><a class="biglink" href="zcfg.html">政策法规</a><span class="menu_head"></span>

                    </li>


                </ul>
            </div>



        </div>








    </div>
</div>
</div>

